#craftings {
    border: red 3px solid;
    border-radius: 40px;
    text-align: center;
    width: 456px;
    position: absolute;
    top: 25%;
    left: 1%;
    font-weight: bold;
}
#craftinga {
    border: blue 3px solid;
    border-radius: 40px;
    text-align: center;
    width: 456px;
    position: absolute;
    top: 25%;
    right: 1%;
    font-weight: bold;
}
body {
    background-color: #403636;
}
#infoc {
    text-align: center;
    font-size: 60px;
}
#cs {
    position: absolute;
    left: 10%;
    top: 16%;
    font-size: 30px;
}
#ca {
    position: absolute;
    right: 10%;
    top: 16%;
    font-size: 30px;
}
#menubutton {
    border: greenyellow solid 3px;
    border-radius: 40px;
    font-size: 20px;
    position: absolute;
    right: 44%;
    top: 250px;
}